body {
  margin: 0;
  padding: 0;
  background-color: #141D25 !important;
}

.button {
  display: inline-block;
  cursor: pointer;
  padding: 8px;
}

.button:active {
  transform: scale(1.08);
  transition: 0.3s;
}

.buttons {
  display: inline-block;
}

.button img {
  width: 50px;
}

.contbtns {
  display: flex;
  align-items: center;
  justify-content: center;
}


.buttons-container {
  background-color: #134074;
  max-width: 500px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 1px 2px 75px -4px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: 1px 2px 75px -4px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 1px 2px 75px -4px rgba(0, 0, 0, 0.42);
}

.board-container {
  max-width: 500px;
  width: 95%;
  height: auto;
  margin: auto;
  justify-content: center;
  display: flex;
  border-radius: 5px;
  padding: 20px 0px 20px 0px;
}

.board-container .casilla {
  width: 100px;
  height: 100px;
}

.p {
  background-color: #134074;
}

.i {
  background-color: #13315C;
}

.pad {
  height: 200px;
}

.esconder{
  display: none !important;
}

.mostrar{
  display: block !important;
}

@media (min-width: 760px) {
  .pad {
    height: 350px;
  }
}

* {
  box-sizing: border-box;
  user-select: none;
}
.video,
.debug {
  padding: 0 20px;
}

.title{
  display: none;
}

table.summary {
  border: 1px solid #333;
  border-collapse: collapse;
  display: none;
}

table.summary td,
table.summary th {
  border: 1px solid #333;
  padding: 5px 8px;
}

#video-container {
  width: 640px;
  height: 480px;
  position: relative;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#pose-video {
  transform: scaleX(-1);
}

.pose-result {
  font-size: 100px;
  text-align: right;
  padding: 20px 30px 0 0;
}

#pose-result-left {
  text-align: left;
}

/*
#134074 primario casillas
#13315C secundario casillas
#0B2545 no se
#8DA9C4 ni idea
#EEF4ED medio blanco
*/